<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>



<body>
  <div id="nav-placeholder">
  </div>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
    jQuery('#nav-placeholder').load("{% static 'nav.html' %}")
    });
    </script>

<!-- 


<form action="/clue2.html">
  Key in your answer: <input type="text" name="day" pattern="[Ss][Uu][Nn][Dd][Aa][Yy]" title="Wrong Answer">
  <input type="submit">
</form> -->

<div style="padding:5%;">
    <h2>Functions changes below {{ param.0 }}</h2>
    {% for i in param.1 %}
        <a href="/showdiff/&{{ i.2 }}&{{ i.3 }}">{{ i.0 }}</a><br>
    {% endfor %}
</div>


</body>
</html>
