<!--Hey!! were you looking for a clue???
  well you won't get it here
This is just an example.Try your luck next time  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>TechWizard.</title>
</head>
  <style>
  body {
  margin-right: 150px;
	margin-left:50px;
  text-align: justify;
  text-justify: inter-word;
	}
    a.class1 {color:red;}
    a.class1:link  {text-decoration: none; color: white;}
    a.class1:visited {text-decoration: none; color: white;}
    a.class1:hover {text-decoration: none; color: white;}
  </style>
  <body>
<h1 align="center">TechWizard<br>
</h1>
<h3><div>Welcome to techWizard. Please read the whole text given below carefully before proceeding,
   it will help you to find out the clues during this treasure hunt.
  This is just an introduction page on how you can play this hunt, but don't forget to apply commonsense also.
  All the best!!!</div><br>
</h3>

<div>There are a few places you can stash information on the webpage. Keep in
mind that recognizing hidden information exists is just as important as finding
it.</div><br>
 <br>

<h3>Web Page</h3>
 <b>Text</b>. <div>Though this one seems obvious, careful analysis might reveal
hidden messages in any block of text. Reading the text carefully for clues
might not be enough since text can be hidden by making it the same color as
the background.Unless you think creatively,you might miss things that seem obvious
like color or font changes,unconventional spacing or line breaks,
or even Odd capitalization. The easiest way to find these messages is by looking
for awkward sentence structures and by searching for repeating elements that might
form a clue when considered together. </div><br>
<br>
<b>For examle consider the line:</b><br>
fOr Creative and Cheap HOME ideas follow the LINK<br>
<b>clue:</b> collect the capital leters and arrange in meaningful sequence<br>
          O C C H O M E L I N K will make
          CLICK ON HOME<br>  <a href="clue1.html">Home</a>
<br>
<br>
<b>Non-text Elements</b>. Every graphic, flash file, or media clip could
contain hidden links, secret messages or encrypted data.Don't forget to check the background image.
Information or links might also be included within the visible images themselves. For instance, the <b>MOUSE</b>
there you see,is a link<br>
{% load static %}
<a href="clue1.html"><img src="{% static "round2/img1.jpg" %}" alt="link to clue1" width=150 height=150></a>
 <br>

 <b>Layout</b>. Look at the webpage as a whole and see if any elements strike
you as being out of place or misplaced. It's easy to miss the forest for the
trees. Also, pay attention to how page elements are arranged. Does the arrangement
seem natural or were pieces placed differently on a particular page. On a
website with several similar pages, do any of the pages have common elements
shuffled around or missing? <br>
 <br>

 <b>Links</b>. Links don't have to be text and they don't have to be underlined
 or change color when your mouse cursor passes over them. The easiest way
to find links is to view the source and look for HREF= . Of course, links
hidden in flash files might be just a bit harder to find. <br>
  <br>
  Another good way to find a hidden link is by using the tab key. You can
press it to highlight all the clickable items on a page (from places you can
type text to hyperlinks to press). <br>
 <br>
 Sometimes text that is the same color as the background can be used for
hidden  messages. To find any invisible text, just do a Control A (select
All) on  a page. That will select all the text, even "hidden" text that's
the same  color as the background. <b>Try this out</b><br>
<a href="clue1.html" class="class1">Hey!!Here is your clue</a>
  <br>
  <br>
  Doing a select all, is the only way to read the text on this page.

<h3><b>Source code</b></h3>
 Inspect the source code for the page. Most browsers let you right click
the page and then view the source. If the PM has disabled the right-click,
go to Edit/View Source on the menu (IE). Look for comments with information
and other textual clues. <br>
 <br>
 <b>Structure</b>. While you are in the source code, look at the markup.
Are their any patterns? Did the designer use any odd options in any markup
tags? Remember that most browsers ignore stuff they don't understand. So
the two following code snippets should look identical in most browsers until
you investigate the source: <br>
</body>
</html>
