@charset "utf-8";	

header { 
        height:40px;
        padding:5px 0 15px 0;
        text-align:center;        
        background: #CC0000;
        color:white;
}
.menu{
    margin-top: -20px;
}

.logo, .login{
    display: inline-block;
    vertical-align: top;
}

 .logo {
    margin-top:200px;
    padding: 10px;
    background: white;
    margin-left:8%;
    height:100%;
}

 .login{
background: rgb(211,211,211);
top: 10%;
  max-width: 39%;
  min-width:auto;
  height: 250px;
  margin: 200px 40px 10px 20px;
  box-sizing: border-box;
}

/*
 .logo {
	float:left;
        position:relative;
	width:90%;
	height:auto;
        top: 80%;
        margin: 170px 50px 20px 50px;
	display:block;
}


.login {
  float:right!important;
  position:relative;
  background: rgb(211,211,211);
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: rgb(211,211,211);
  top: 10%;
  right:8%;
  width:90%;
  max-width: 300px;
  height: 185px;
  margin-top: -200px;
}


/*
.login {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
*/








.wrapper {
  text-align: center;
  display: inline-block;
  position: right;
  top: 70%;
  left: 50%;
}



/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



#empid{
height:40px;
width:250px;;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



 .login  input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: white;
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 60px 10px 25px 25px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
 .login  input:hover {
  background-color: white;
}
 .login  input:focus {
  background-color: white;
  width: 300px;
  color: black;
}

input[type=checkbox]{
    width: 5px;
    height: 5px;
}

 .login button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: rgb(204,0,0);
  border: 1;
  padding: 0px 0px;
  margin:0 25px;
  color: black;
  border-radius: 3px;
  width: 250px;
  height:35px;
  cursor: pointer;
  font-size: 14px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
          color:white;
	 border-radius: 4px;
}
 .login button:hover {
  background-color: #CCOOOO;
}


@media only screen
	and (min-width: 1480px) {

 .logo{
margin-left:27%;
}
.login{
margin-right:14%;
}
}
